.container {
  & + .container {
    margin-top: 16px;
  }

  .icon {
    font-size: 18px;
    margin-left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--border-grey);
  }

  .group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border-grey);
    border-radius: 4px;

    &.bgGrey {
      border: 1px solid #eaecf0 !important;
      background-color: var(--light-grey);
      border-radius: 8px !important;

      .inputElement {
        background-color: var(--light-grey);
      }
    }

    &.bgReadOnly {
      border: 1px solid #eaecf0 !important;
      background-color: var(--grey-3);
      border-radius: 8px !important;

      .inputElement {
        background-color: var(--grey-3);
      }
    }

    &.done {
      border: 1px solid var(--light-green) !important;
      .icon {
        color: var(--light-green) !important;
      }
    }

    &.focus {
      border: 1px solid var(--primary) !important;
      color: var(--border-grey) !important;
      background-color: var(--light) !important;

      .inputElement {
        background-color: var(--light) !important;
      }

      .icon {
        color: var(--primary) !important;
      }
    }

    &.iconGroup {
      .inputElement {
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    .inputGroup {
      flex: 1;
    }

    .btn {
      height: 100%;
      padding: 6px 18px;
      border-radius: 6px;
      margin-right: 2px;
      background-color: var(--border-grey);
      cursor: no-drop;
      user-select: none;
      // color: var(--);
      transition: 0.3s;

      &.active {
        background-color: var(--light);
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }

        &:active {
          transform: scale(0.9);
        }
      }

      &.unit {
        cursor: text;
        user-select: text;
        color: #27282b;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        background-color: transparent;
      }
    }

    .inputElement {
      font-size: 14px;
      font-weight: 500;
      border: 1px solid transparent;
      padding: 8px 24px;
      &::placeholder {
        color: var(--grey);
      }
    }
  }

  .label {
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
  }

  .inputGroup {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toggleType {
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey);
    font-size: 20px;
    margin-right: 12px;
  }

  .inputElement {
    width: 100%;
    padding: 12px 24px;
    border: 1px solid var(--grey);
    border-radius: 8px;

    &::placeholder {
      font-weight: 500;
      color: #888 !important;
    }
  }

  .note {
    margin-left: 12px;
  }

  .errorText {
    margin-left: 6px;
    font-size: 12px;
  }
}

.error {
  margin-bottom: -12px !important;

  .group {
    border: none !important;
  }

  .inputGroup {
    border: none;
    border-radius: 8px;
    border: 1px solid var(--danger) !important;
    .inputElement {
      &::placeholder {
        color: var(--danger);
      }
    }
  }

  .errorText,
  .icon {
    color: var(--danger);
  }

  .group {
    border: 1px solid var(--danger) !important;
  }

  .inputElement {
    &::placeholder {
      color: var(--danger);
    }
  }

  .toggleType {
    color: var(--danger);
  }
}

.focus {
  .inputElement {
    border: 1px solid var(--primary);
  }
}
