$widthTablet: 1200px;
$widthMobile: 764px;
$low-widthMobile: 480px; // Low mobile

.variables {
  --header-height: 50px;
  --menu-height: 56px;
  --menu-height-mobile: 50px;
  --noti-height: 40px;
  --sidebar-width: 256px;
  --sidebar-width-hidden: 56px;
  --height-title-header: 45px;
}
