* {
  font-family: BaiJamjuree, sans-serif;
}

@font-face {
  font-family: "SF-Pro";
  src: url("/fonts/BaiJamjuree-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "SF-Pro";
  src: url("/fonts/BaiJamjuree-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "SF-Pro";
  src: url("/fonts/BaiJamjuree-SemiBold.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "SF-Pro";
  src: url("/fonts/BaiJamjuree-Medium.ttf");
  font-weight: 400;
}
