.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1400px;
  margin: 0 auto;
}
.grid.wide.wider {
  max-width: max(min(calc(100% - 128px), 1800px), 1400px);
  margin: 0 auto;
}
.grid.wide.news {
  max-width: max(min(calc(100% - 128px), 1200px), 1350px);
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 764px) {
  .grid {
    padding: 0 12px;
  }
}

/* Tablet - PC low resolution */
@media (min-width: 764px) and (max-width: 1199px) {
  .grid {
    padding: 0 24px;
  }
  .wide {
    max-width: 764px;
  }
}

/* > PC low resolution */
@media (min-width: 1200px) and (max-width: 1439px) {
  .wide:not(.tablet-only) {
    max-width: 1200px;
  }

  .wide:not(.tablet-only) .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .wide:not(.tablet-only) .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
}
