.files {
    margin-top: 14px;
}
.add {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: #f7f9fc;
    border: 1px solid #eaeef3;
    border-radius: 4px;
    transition: 0.3s;

    &:hover {
        background-color: rgb(224, 223, 223, 0.5);
    }

    &:active {
        transform: scale(0.9);
    }
}
.box_image {
    border: solid 1px #cccccc;
    position: relative;
    width: 64px;
    height: 64px;
    user-select: none;
    border-radius: 4px;
    overflow: hidden;

    .delete {
        cursor: pointer;
        position: absolute;
        top: 2px;
        right: 2px;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;

        &:active {
            transform: scale(0.9);
        }
    }
}