.style2 {
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color);
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  user-select: none;
  transition: 0.2s;
  border-radius: 8px;
  background-color: var(--background-color);
  border: 1px solid var(--border-radius);
  cursor: pointer;
  transition: 0.3s;

  &.focus {
    border: 1px solid var(--primary);
  }

  &:hover {
    border: 1px solid var(--primary);
  }
}

.value {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
  margin-left: 8px;
}

.icon_arrow {
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  &.active_icon {
    transform: rotate(-180deg);
  }
}
