.main {
  position: fixed;
  width: max-content;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: showForm 0.2s forwards;

  &.hidden {
    animation: hiddenForm 0.2s forwards;
  }

  &.isFull {
    @media (max-width: 768px) {
      transform: translate(0%, 0%);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--dark);
  animation: show linear 0.2s forwards;
  &.hidden {
    animation: hidden linear 0.2s forwards;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}
@keyframes hidden {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes showForm {
  0% {
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes hiddenForm {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
  }
}
